##SQLite3 Tutorial

From here:
https://www.tutorialspoint.com/sqlite/sqlite_python.htm

In [1]:
import sqlite3
sqlite3.version

'2.6.0'

In [2]:
sqlite3.sqlite_version

'3.6.21'

In [3]:
# creates db in current directory / opens connection
conn = sqlite3.connect('test.db')

print "db open success"

db open success

In [4]:
# create a table
conn.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')

print "COMPANY table created [cue fanfare]"

COMPANY table created [cue fanfare]

In [5]:
# insert rows
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

print "records added [fireworks]"

records added [fireworks]

In [6]:
# select
cursor = conn.execute('SELECT * FROM COMPANY')
for row in cursor:
    print row

(1, u'Paul', 32, u'California', 20000.0)
(2, u'Allen', 25, u'Texas', 15000.0)
(3, u'Teddy', 23, u'Norway', 20000.0)
(4, u'Mark', 25, u'Rich-Mond ', 65000.0)

In [7]:
conn.execute('DELETE FROM COMPANY WHERE ID=2')

cursor = conn.execute('SELECT * FROM COMPANY')
for row in cursor:
    print row

(1, u'Paul', 32, u'California', 20000.0)
(3, u'Teddy', 23, u'Norway', 20000.0)
(4, u'Mark', 25, u'Rich-Mond ', 65000.0)

In [8]:
conn.execute('DROP TABLE COMPANY')

In [9]:
conn.close()